{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Edit note" %}{% endblock %}
{% block header %}{% trans "Edit spending" %}{% endblock %}

{% block content %}
    <section id="contact" class="contact">
        <div class="container col-sm-4" data-aos="fade-up">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="{% trans "Save" %}" class="btn btn-success">
                <a class="btn btn-link" href="{% url 'tripus:singleTrip' trip_id %}" role="button">{% trans "Back to trip" %}</a>
                <a class="btn btn-link" href="{% url 'tripus:noteDelete' trip_id note.id %}" role="button">{% trans "Delete note" %}</a>
            </form>
        </div>
    </section>
{% endblock %}