{% load i18n %}
{% load crispy_forms_filters %}

{% if places_list|length > 0 %}
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr class="d-flex">
                    <th class="col-5">{% trans "Name" %}</th>
                    <th class="col-2">{% trans "Category" %}</th>
                    <th class="col-2">{% trans "Visit date" %}</th>
                    <th class="col-2">{% trans "Visited" %}</th>
                    <th class="col-1">{% trans "More" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for record in places_list %}
                <tr class="d-flex">
                    <td class="col-5">{{ record.name }}</td>
                    <td class="col-2">{{ record.category }}</td>
                    {% if record.visit_date != null %}
                        <td class="col-2">{{ record.visit_date|date:'d/m/Y' }}</td>
                    {% else %}
                        <td class="col-2">{{ '' }}</td>
                    {% endif %}
                    {% if record.visited == True %}
                        <td class="col-2">{% trans "Yes" %}</td>
                    {% else %}
                        <td class="col-2">{% trans "No" %}</td>
                    {% endif %}
                    <td class="col-1"><a class="btn btn-outline-success btn-sm" href="{% url 'tripus:visitPlaceView' trip_id record.id %}"
                                         role="button">{% trans "More" %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="text-center">{% trans "No visited" %}</div>
{% endif %}