{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Places to visit" %}{% endblock %}
{% block header %}{% trans "Places to visit" %}{% endblock %}

{% block content %}
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            {% include "place/visit_template.html" %}

            <a class="btn btn-success" href="{% url 'tripus:visitPlaceAdd' trip_id %}" role="button">{% trans "Add place" %}</a>
            <a class="btn btn-link" href="{% url 'tripus:singleTrip' trip_id %}" role="button">{% trans "Back to trip" %}</a>
        </div>
    </section>
{% endblock %}